
<div class="text-center my-5">
  <h1> Gossip Project </h1>
  <div style="background-color: #F3C9D9">

   <img src="https://d1o0zx25fn5p70.cloudfront.net/UoVbP61uzEknoXw9gJuh-BMV_js=/fit-in/350x350/noupscale/assets.rebuy.de/products/000/066/824/covers/main.jpeg?t=1616245445">
  </div>
</div>
