
<div class="text-center my-5" style="background-color: #F3C9D9">
  <h1> Gossip Project </h1>
  <hr>
  <img src="https://us.123rf.com/450wm/stunningart/stunningart1807/stunningart180700010/108373251-surreal-image-young-woman-head-explosion-over-blackboard-background-mental-state-of-human-with-lot-o.jpg?ver=6">
</div>
