<h1>Créer un Gossip</h1>
<!-- Page nouveau gossip-->
<div class='container my-5 py-4 '>

  <%= form_tag url_for(action: 'create'), method: "post" do %>

    <div class='form-group'>

      <label>Titre du Potin</label><br>
      <%= text_field_tag 'title',"", class: 'form-control'%>

    </div>

    <br>

    <div class='form-group'>

      <label>Contenu du Potin</label><br>
      <%= text_area_tag 'content',"", class:'form-control'%>

    </div>

    <br>

    <div class='form-group'>

      <button type=submit class='btn' style="background-color: #F3C9D9">Créer le Potin</button>

    </div>
  <% end %>
</div>